/_delete/
web.config
*web.config
/*.jpg
/*.JPEG
/*.png
/*.gif
/*.JPG
/*.jpeg
/*.tiff
*.sql
sitemap*.xml
*.rar
*.zip
/*.txt
*.dt
*.tar.gz
*.gz
*.tar
*.bak
*.old
*.bash_history
/*~
robots.txt
/.htaccess
/.restore
/.htaccess.restore
/.htpassword
.htpasswd
.httpauth
.httpauth.vd2020
/.vd2020
/upload/
/cgi-bin/
/composer.*
/.cache
/.config
/.local
/_temp
/node_modules
/package-lock.json
/test
/test.php
/local/test
/bitrix/php_interface/**/*.txt
*.iml
.editorconfig
.htsecure
bower_components
.grunt
*.csv
*.txt
*_old.php
*.pdf
*.xls
*.xlsx
*.epub
*.mobi
*~

.directory
.DS_Store
.idea
/.wa/
/.well-known/
/desktop_app/
.vscode
.phpstorm.meta.php
sitemap*
logs/*
log_*
!log*.php
*.ai
*.log
*.psd
*.sublime*
npm-debug.*
Thumbs.db
.xml
/dist/
/bitrix/*
!/bitrix/.settings_extra.example.php
/local/php_interface/logs/
/local/phpmyadmin/
/local/test*.php
/local/templates/vsesmart/frontend/node_modules/
package-lock.json
/local/vendor

/public_html/config.core.php
ht.access
.htaccess
/public_html/index.php
/public_html/a1m0qho5sgbxwe/
/public_html/panel/

!/public_html/assets/components/
/public_html/assets/components/*
!/public_html/assets/components/mycomponent/
!/public_html/assets/components/cmpgeneratorpro/
/public_html/assets/components/cmpgeneratorpro/*
!/public_html/assets/components/cmpgeneratorpro/build/
/public_html/assets/components/cmpgeneratorpro/build/*
!/public_html/assets/components/cmpgeneratorpro/build/_build_mycomponent/

/core/
!/core/components/
/core/components/*
!/core/components/mycomponent/
core/cache/*
public_html/project/
*cache
