/* libs */

/* utils */

/* core */

:root {
  --al-body-color: #D9DFE9;
  --al-body-bg: #151c28;
  --al-font-sans-serif: ibm, -apple-system, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --al-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --al-body-font-family: var(--al-font-sans-serif);
  --al-font-bold: din;
  --al-body-font-size: 1rem;
  --al-body-font-weight: 400;
  --al-body-line-height: 1.6;
  /*
    --al-blue: #0d6efd;
    --al-indigo: #6610f2;
    --al-purple: #6f42c1;
    --al-pink: #d63384;
    --al-red: #dc3545;
    --al-orange: #fd7e14;
    --al-yellow: #ffc107;
    --al-green: #198754;
    --al-teal: #20c997;
    --al-cyan: #0dcaf0;
    --al-black: #000;
    --al-white: #fff;
    --al-gray: #6c757d;
    --al-gray-dark: #343a40;
    --al-gray-100: #f8f9fa;
    --al-gray-200: #e9ecef;
    --al-gray-300: #dee2e6;
    --al-gray-400: #ced4da;
    --al-gray-500: #adb5bd;
    --al-gray-600: #6c757d;
    --al-gray-700: #495057;
    --al-gray-800: #343a40;
    --al-gray-900: #212529;
    --al-primary: #0d6efd;
    --al-secondary: #6c757d;
    --al-success: #198754;
    --al-info: #0dcaf0;
    --al-warning: #ffc107;
    --al-danger: #dc3545;
    --al-light: #f8f9fa;
    --al-dark: #212529;
    --al-primary-rgb: 13, 110, 253;
    --al-secondary-rgb: 108, 117, 125;
    --al-success-rgb: 25, 135, 84;
    --al-info-rgb: 13, 202, 240;
    --al-warning-rgb: 255, 193, 7;
    --al-danger-rgb: 220, 53, 69;
    --al-light-rgb: 248, 249, 250;
    --al-dark-rgb: 33, 37, 41;
    --al-white-rgb: 255, 255, 255;
    --al-black-rgb: 0, 0, 0;
    --al-body-color-rgb: 33, 37, 41;
    --al-body-bg-rgb: 255, 255, 255;
    --al-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

    --al-border-width: 1px;
    --al-border-style: solid;
    --al-border-color: #dee2e6;
    --al-border-color-translucent: rgba(0, 0, 0, 0.175);
    --al-border-radius: 0.375rem;
    --al-border-radius-sm: 0.25rem;
    --al-border-radius-lg: 0.5rem;
    --al-border-radius-xl: 1rem;
    --al-border-radius-2xl: 2rem;
    --al-border-radius-pill: 50rem;
    --al-link-color: #0d6efd;
    --al-link-hover-color: #0a58ca;
    --al-code-color: #d63384;
    --al-highlight-bg: #fff3cd;
    */
}

@font-face {
  font-family: "din";
  font-display: swap;
  src: url("../fonts/dinprobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ibm";
  font-display: swap;
  src: url("../fonts/ibmplexmono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ibm";
  font-display: swap;
  src: url("../fonts/ibmplexmonolight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.1875em;
  background-color: var(--highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--code-color);
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--body-bg);
  background-color: var(--body-color);
  border-radius: 0.25rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

svg {
  pointer-events: none;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}

legend + * {
  clear: left;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--al-body-font-family);
  font-size: var(--al-body-font-size);
  font-weight: var(--al-body-font-weight);
  line-height: var(--al-body-line-height);
  color: var(--al-body-color);
  background-color: var(--al-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  font-weight: 700;
  color: inherit;
  line-height: 1.3;
  font-family: "din", "ibm", Arial, sans-serif;
}

h1 {
  margin-bottom: 40px;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container-full,
.container {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.text__center {
  text-align: center;
}

.text__large-extra {
  font-size: 24px;
  line-height: 32px;
}

.text__large {
  font-size: 20px;
  line-height: 32px;
}

.text__small,
.text__small-light {
  font-size: 14px;
  line-height: 18px;
}

.text__small-light {
  font-weight: 300;
}

.list__un-styled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.text__white {
  color: #fff;
}

.text__color2 {
  color: #848E9F;
}

.form__group {
  margin-bottom: 24px;
  position: relative;
  font-family: "din", Arial, sans-serif;
}

.form__label {
  display: block;
  padding-top: 21px;
  padding-left: 24px;
  margin-bottom: 0;
  color: #4A4C61;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  pointer-events: none;
  border: 1px solid transparent;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.form__control,
.form__textarea {
  width: 100%;
  padding: 1rem 24px;
  font-family: "din", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(31, 42, 58, 0.5);
  background: rgba(16, 23, 34, 0.5);
  display: block;
  background-clip: padding-box;
  -webkit-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__control::-moz-placeholder,
.form__textarea::-moz-placeholder {
  color: transparent;
  opacity: 0.4;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.form__control:-ms-input-placeholder,
.form__textarea:-ms-input-placeholder {
  color: transparent;
  opacity: 0.4;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.form__control::-ms-input-placeholder,
.form__textarea::-ms-input-placeholder {
  color: transparent;
  opacity: 0.4;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.form__control::-webkit-input-placeholder,
.form__textarea::-webkit-input-placeholder {
  color: transparent;
  opacity: 0.4;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.form__control:hover,
.form__textarea:hover {
  border-color: rgba(94, 146, 253, 0.5);
}

.form__control:disabled,
.form__control[readonly],
.form__textarea:disabled,
.form__textarea[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

.form__control:not(:-moz-placeholder-shown), .form__textarea:not(:-moz-placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  border-color: rgba(94, 146, 253, 0.5);
  outline: 0;
}

.form__control:not(:-ms-input-placeholder), .form__textarea:not(:-ms-input-placeholder) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  border-color: rgba(94, 146, 253, 0.5);
  outline: 0;
}

.form__control:focus,
.form__control:not(:placeholder-shown),
.form__textarea:focus,
.form__textarea:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  border-color: rgba(94, 146, 253, 0.5);
  outline: 0;
}

.form__control:not(:-moz-placeholder-shown) ~ .form__label, .form__textarea:not(:-moz-placeholder-shown) ~ .form__label {
  font-size: 15px;
  transform: translateY(-10px);
}

.form__control:not(:-ms-input-placeholder) ~ .form__label, .form__textarea:not(:-ms-input-placeholder) ~ .form__label {
  font-size: 15px;
  -ms-transform: translateY(-10px);
      transform: translateY(-10px);
}

.form__control:focus ~ .form__label,
.form__control:not(:placeholder-shown) ~ .form__label,
.form__textarea:focus ~ .form__label,
.form__textarea:not(:placeholder-shown) ~ .form__label {
  font-size: 15px;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.form__control {
  height: 60px;
  padding: 0.375rem 24px;
}

.form__textarea {
  height: 120px;
  padding: 18px 24px 8px;
}

.form__error ~ .form__error-text {
  display: block;
}

.form__error-text {
  display: none;
  padding-top: 12px;
  padding-left: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #A40F45;
}

.btn {
  height: 52px;
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: var(--al-font-sans-serif);
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.4;
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 4px;
  --bs-btn-box-shadow: 0 20px 20px rgba(16, 23, 34, 0.5);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background: var(--bs-btn-bg);
  -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn:focus {
  color: var(--bs-btn-hover-color);
  background: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  -webkit-box-shadow: var(--bs-btn-focus-box-shadow);
          box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn:disabled,
.btn.disabled {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn__primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5E92FD;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3D61AB;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: transparent;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5E92FD;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: transparent;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn__primary:active {
  opacity: 1;
}

.btn__secondary {
  --bs-btn-color: #5E92FD;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #5E92FD;
  --bs-btn-hover-color: #3D61AB;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #3D61AB;
  --bs-btn-active-color: #5E92FD;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #5E92FD;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

body {
  scrollbar-width: 8px;
  scrollbar-color: #5E92FD #d6d6d6;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #eee;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 0 none #fff;
  background-color: #273349;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4A4C61;
}

/* components */

.code-tag {
  color: #4A4C61;
}

.code-id {
  color: #48B99C;
}

.code-title {
  color: #CA64BF;
}

.code-text {
  color: #F37A53;
}

.toggle-nav {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.toggle-nav__decor {
  height: 3px;
  width: 24px;
  margin: auto;
  position: relative;
  background-color: #D9DFE9;
  border-radius: 1px;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.toggle-nav__decor::before,
.toggle-nav__decor::after {
  height: 3px;
  width: 24px;
  left: 0;
  border-radius: 1px;
  position: absolute;
  background-color: #D9DFE9;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition: top 0.2s 0.2s, -webkit-transform 0.2s;
  transition: top 0.2s 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, top 0.2s 0.2s;
  transition: transform 0.2s, top 0.2s 0.2s;
  transition: transform 0.2s, top 0.2s 0.2s, -webkit-transform 0.2s;
  content: "";
}

.toggle-nav__decor::before {
  top: -8px;
}

.toggle-nav__decor::after {
  top: 8px;
}

.toggle-nav--open .toggle-nav__decor {
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background: 0 0;
}

.toggle-nav--open .toggle-nav__decor::after,
.toggle-nav--open .toggle-nav__decor::before {
  top: 0;
  width: 30px;
  left: -3px;
  border-radius: 20px;
}

.toggle-nav--open .toggle-nav__decor::before {
  -webkit-transition: top 0.2s, -webkit-transform 0.2s 0.2s;
  transition: top 0.2s, -webkit-transform 0.2s 0.2s;
  -o-transition: top 0.2s, transform 0.2s 0.2s;
  transition: top 0.2s, transform 0.2s 0.2s;
  transition: top 0.2s, transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
}

.toggle-nav--open .toggle-nav__decor::after {
  -webkit-transition: top 0.4s, -webkit-transform 0.2s 0.2s;
  transition: top 0.4s, -webkit-transform 0.2s 0.2s;
  -o-transition: top 0.4s, transform 0.2s 0.2s;
  transition: top 0.4s, transform 0.2s 0.2s;
  transition: top 0.4s, transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:hover .social__icon {
  fill: #345CAC;
}

.social__item:not(:last-of-type) {
  margin-right: 16px;
}

.social__icon {
  width: 32px;
  height: 32px;
  fill: #5E92FD;
  margin: auto;
  -webkit-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
}

.page__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-menu {
  height: 100%;
  width: 230px;
  padding: 40px 30px;
  background-color: rgba(25, 33, 48, 0.95);
  border: 1px solid rgba(38, 46, 63, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 3;
  top: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.nav-menu__link {
  height: 72px;
  margin-left: -30px;
  margin-right: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D9DFE9;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.nav-menu__link:hover {
  background-color: #151c28;
}

.nav-menu__github {
  width: 60px;
  height: 16px;
}

.nav-menu__footer {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #848E9F;
  text-align: center;
}

.panel {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-box-shadow: 0 15px 45px rgba(16, 23, 34, 0.5);
          box-shadow: 0 15px 45px rgba(16, 23, 34, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.panel__wrap {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__logo {
  margin-right: auto;
}

.panel__logo-img {
  max-height: 100%;
}

.home__content-name {
  margin-bottom: 24px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #5E92FD;
  background-color: rgba(94, 146, 253, 0.04);
  border: 1px solid rgba(177, 203, 255, 0.04);
}

.home__content-title {
  text-transform: uppercase;
  color: #fff;
}

.home__content-decor {
  color: #F37A53;
}

.home__content-btn {
  width: 167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__card {
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-box-shadow: 0 30px 45px rgba(16, 23, 34, 0.35);
          box-shadow: 0 30px 45px rgba(16, 23, 34, 0.35);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
}

.home__card-top {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__card-projects {
  margin-right: auto;
  font-family: "din", "ibm", Arial, sans-serif;
  font-weight: 700;
}

.home__card-container {
  background-color: rgba(16, 23, 34, 0.5);
  border: 1px solid rgba(31, 42, 58, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
}

.home__card-code {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 23px;
}

.portfolio__card {
  position: relative;
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
}

.portfolio__card-top {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__card-media {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 32px;
  width: 128px;
  height: 128px;
  background: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
}

.portfolio__card-content {
  padding-right: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__card-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-family: "din";
}

.portfolio__card-desc {
  line-height: 26px;
}

.portfolio__card-stack {
  margin-bottom: 32px;
}

.portfolio__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__card-btn {
  margin-right: auto;
}

.portfolio__card-icon {
  width: 40px;
  height: 40px;
  fill: #F37A53;
}

.portfolio__stack {
  margin-bottom: 32px;
}

.portfolio__stack-title {
  margin-bottom: 16px;
}

.stack__progress {
  margin-bottom: 16px;
  height: 8px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.stack__progress-item:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.stack__progress-item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*
.stack__progress-html {
}

.stack__progress-css {
}

.stack__progress-scss {
}

.stack__progress-js {
}

.stack__progress-jsx {
}

.stack__progress-vue {
}

.stack__progress-angular {
}

.stack__progress-node {
}

.stack__progress-php {
}
*/

.stack__list {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stack__item {
  margin-bottom: 8px;
  margin-right: 32px;
  color: #848E9F;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stack__item-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: -4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/*
.stack__item--html {
}

.stack__item--css {
}

.stack__item--scss {
}

.stack__item--js {
}

.stack__item--jsx {
}

.stack__item--vue {
}

.stack__item--angular {
}

.stack__item--node {
}

.stack__item--php {
}
*/

.tab__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 52px;
  border: 1px solid #48B99C;
  border-radius: 8px;
  overflow: hidden;
}

.tab__nav-item {
  padding: 6px 24px;
  line-height: 1;
  font-weight: 700;
  font-family: "din", "ibm", Arial, sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  border-radius: inherit;
}

.tab__nav-item:not(.tab__nav-item--active) {
  cursor: pointer;
}

.tab__nav-item--active {
  background-color: #48B99C;
}

.tab__content:not(.tab__content--active) {
  display: none;
}

.skills {
  line-height: 1;
  background-color: rgba(16, 23, 34, 0.5);
  border: 1px solid rgba(31, 42, 58, 0.5);
  font-size: 14px;
  overflow: hidden;
}

.skills__percent {
  display: none;
}

.skills__progress {
  text-transform: uppercase;
  position: relative;
}

.skills__progress::before {
  height: 100%;
  background: -o-linear-gradient(315deg, #5E92FD 0%, #6D55FF 100%);
  background: linear-gradient(135deg, #5E92FD 0%, #6D55FF 100%);
  border-radius: 4px;
  display: block;
  content: "";
}

.skills__progress-text {
  position: absolute;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.experience__content {
  padding-right: 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.experience__content-section {
  margin-bottom: 64px;
}

.experience__work-item {
  padding-left: 7px;
}

.experience__work-item:not(:last-child) {
  margin-bottom: 32px;
}

.experience__work-title {
  margin-left: -7px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #F37A53;
  font-family: "din";
}

.experience__work-title::before {
  content: "<";
}

.experience__work-title::after {
  content: ">";
}

.experience__work-date {
  margin-bottom: 8px;
}

.experience__work-desk {
  color: #848E9F;
}

.experience__side {
  width: 31.58%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 32px 24px;
  background: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  border-radius: 8px;
  text-align: center;
}

.experience__side-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  font-family: "din";
}

.experience__side-content {
  padding: 32px 24px;
  background: rgba(16, 23, 34, 0.5);
  border: 1px solid rgba(31, 42, 58, 0.5);
}

.experience__side-num {
  margin-bottom: 16px;
  font-size: 100px;
  line-height: 1;
  font-weight: 700;
  color: #6D55FF;
}

.experience__side-text {
  font-size: 14px;
  line-height: 18px;
}

.contacts__info {
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-box-shadow: 0 30px 45px rgba(16, 23, 34, 0.5);
          box-shadow: 0 30px 45px rgba(16, 23, 34, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
}

.contacts__info-container {
  margin-bottom: 24px;
}

.contacts__info-hot {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__info-phone {
  margin-right: 32px;
  font-weight: 700;
  color: #D9DFE9;
}

.not-found {
  width: 100%;
  margin: auto;
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-box-shadow: 0 30px 45px rgba(16, 23, 34, 0.5);
          box-shadow: 0 30px 45px rgba(16, 23, 34, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
  text-align: center;
}

.not-found__wrap {
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  border-radius: 8px;
}

.not-found__error {
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.not-found__title {
  margin-bottom: 40px;
  color: #848E9F;
  line-height: 32px;
  font-weight: 400;
  font-family: "ibm";
}

.breadcrumb {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4A4C61;
}

.breadcrumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb__item:not(:last-child)::after {
  margin-left: 4px;
  margin-right: 4px;
  content: "_";
}

.breadcrumb__link {
  color: #848E9F;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.breadcrumb__link:hover {
  color: #fff;
}

.blog__card {
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
}

.blog__card:not(:last-of-type) {
  margin-bottom: 32px;
}

.blog__card-media {
  width: 180px;
  height: 180px;
  background: url(../img/decor/blog-media.svg) no-repeat center rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__card-img {
  max-height: 100%;
  margin: auto;
}

.blog__card-meta {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__card-category {
  padding: 8px 24px;
  height: 34px;
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 4px;
  font-size: 14px;
  color: #F37A53;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.blog__card-date {
  margin-left: auto;
  font-size: 14px;
  color: #4A4C61;
}

.blog__card-title {
  margin-bottom: 8px;
}

.blog__card-link {
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.blog__card-link:hover {
  color: #fff;
}

.blog__card-text {
  margin-bottom: 16px;
  color: #848E9F;
}

.blog__card-tags {
  margin-top: auto;
}

.blog__card-tag {
  font-size: 14px;
  color: #48B99C;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.blog__boxed {
  margin-bottom: 40px;
  padding: 32px;
  border-radius: 8px;
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-box-shadow: 0 30px 45px rgba(16, 23, 34, 0.5);
          box-shadow: 0 30px 45px rgba(16, 23, 34, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.blog__boxed-title {
  margin-bottom: 16px;
}

.blog__boxed-list {
  padding-left: 16px;
}

.blog__boxed-item:not(:last-child) {
  margin-bottom: 10px;
}

.blog__boxed-link {
  color: #F37A53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__boxed-link::before,
.blog__boxed-link::after {
  color: #4A4C61;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.blog__boxed-link::before {
  margin-right: 8px;
  content: "<li>";
}

.blog__boxed-link::after {
  margin-left: 8px;
  content: "</li>";
}

.blog__boxed-link:hover {
  color: #F37A53;
}

.blog__boxed-link:hover::before,
.blog__boxed-link:hover::after {
  color: #fff;
}

.blog__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__tags-item {
  padding: 4px 8px;
  font-size: 14px;
  color: #48B99C;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.blog__articles {
  padding-left: 8px;
}

.blog__articles-item:not(:last-child) {
  margin-bottom: 12px;
}

.blog__articles-link {
  color: #848E9F;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.pagination {
  padding: 16px;
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__arrow {
  width: 32px;
  height: 32px;
  background-color: rgba(25, 33, 48, 0.4);
  border: 1px solid rgba(38, 46, 63, 0.4);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__arrow--prev {
  margin-right: 16px;
}

.pagination__arrow--next {
  margin-left: 16px;
}

.pagination__arrow-icon {
  width: 12px;
  height: 12px;
  margin: auto;
  fill: #848E9F;
}

.pagination__arrow-icon--next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__item {
  width: 28px;
  height: 28px;
  margin-left: 8px;
  margin-right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.pagination__item:not(.pagination__item--current):hover {
  color: #fff;
  background-color: #151c28;
}

.blog__list {
  margin-bottom: 40px;
}

.blog__side-box {
  margin-bottom: 40px;
}

.blog__side-title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
}

.blog__article {
  color: #848E9F;
}

.blog__article h6,
.blog__article h5,
.blog__article h4,
.blog__article h3,
.blog__article h2,
.blog__article h1 {
  color: #fff;
}

@media (min-width: 576px) {
  .container-full,
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .home__content-title {
    margin-bottom: 32px;
  }

  .home__content-phrase {
    margin-bottom: 40px;
  }

  .home__card-projects {
    font-size: 20px;
  }

  .portfolio {
    display: -ms-grid;
    display: grid;
    gap: 32px;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .not-found {
    padding: 40px;
    max-width: 520px;
  }

  .not-found__wrap {
    padding: 40px;
  }

  .not-found__error {
    font-size: 200px;
  }

  .not-found__title {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  .toggle-nav {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: -4px;
  }

  .panel {
    height: 70px;
  }

  .panel__wrap {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .portfolio__card {
    padding: 40px 40px 48px;
  }

  .portfolio__card-btn {
    min-width: 206px;
  }
}

@media (min-width: 768px) and (min-width: 1199px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }
}

@media (min-width: 901px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home__content {
    max-width: 57%;
  }

  .home__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 32px;
  }

  .contacts__text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
  }

  .contacts__form {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }

  .contacts__form-title {
    margin-bottom: 32px;
  }

  .contacts__info {
    margin-top: 65px;
    padding: 40px;
    -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }

  .contacts__info-phone {
    font-size: 20px;
  }

  .blog__card {
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .blog__card-content {
    padding-left: 32px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog__card-media {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .blog__container {
    width: 68.5%;
    padding-right: 32px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .blog__side {
    width: 31.5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 1000px) {
  .skills {
    height: 629px;
    padding: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .skills__info {
    height: 100%;
    padding-bottom: 34px;
    overflow: hidden;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .skills__percent {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 71px;
    padding-bottom: 26px;
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .skills__percent::before {
    width: 1px;
    height: 95%;
    background-color: #30313F;
    position: absolute;
    top: 0;
    right: -24px;
    content: "";
  }

  .skills__percent-item {
    color: #fff;
    position: relative;
  }

  .skills__percent-item::before,
  .skills__percent-item::after {
    height: 1px;
    top: 6px;
    left: 48px;
    position: absolute;
    content: "";
  }

  .skills__percent-item::before {
    width: 1057px;
    border-top: 1px dashed #212230;
  }

  .skills__percent-item::after {
    width: 8px;
    background-color: #30313F;
  }

  .skills__progress {
    width: 6.32% !important;
    text-align: center;
  }

  .skills__progress-text {
    bottom: -32px;
    width: 100%;
  }
}

@media (min-width: 1100px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  .home__content-name {
    font-size: 20px;
    max-width: 284px;
    height: 64px;
  }

  .home__content-title {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.03em;
  }

  .home__content-phrase {
    font-size: 24px;
    line-height: 32px;
  }

  .home__content-text {
    margin-top: 16px;
  }

  .home__card {
    width: 40.1%;
    padding: 32px;
  }

  .home__card-container {
    padding: 32px;
  }
}

@media (min-width: 1510px) {
  .page {
    padding-left: 230px;
  }

  .page__content {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .nav-menu {
    left: 0;
    will-change: auto;
  }

  .nav-menu__logo {
    padding-left: 10px;
    padding-right: 10px;
  }

  .panel {
    display: none;
  }
}

@media (min-width: 1708px) {
  .page {
    padding-right: 230px;
  }
}

@media (max-width: 1510px) {
  .nav-menu {
    padding-top: 0;
    right: 0;
    will-change: transform;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }

  .nav-menu::before {
    width: 100%;
    height: 1px;
    display: block;
    content: "";
  }

  .nav__open .nav-menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .nav-menu__logo {
    display: none;
  }
}

@media (max-width: 1099px) {
  .home__content-phrase {
    line-height: 28px;
  }

  .home__content-text {
    margin-top: 8px;
  }

  .home__card {
    width: 100%;
    max-width: 423px;
    padding: 24px;
  }
}

@media (max-width: 999px) {
  .skills__progress {
    height: 48px !important;
  }

  .skills__progress:not(:last-of-type) {
    margin-bottom: 16px;
  }

  .skills__progress-text {
    bottom: 16px;
    left: 32px;
  }
}

@media (max-width: 991px) {
  .portfolio__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .portfolio__card-github {
    right: 40px;
    top: 40px;
    position: absolute;
  }

  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .contacts__form-title {
    margin-bottom: 24px;
  }

  .contacts__info {
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .contacts__info-text {
    font-size: 14px;
  }

  .blog__card {
    padding: 24px;
  }

  .blog__card-media {
    margin-bottom: 32px;
  }

  .blog__container {
    margin-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .home__content {
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .toggle-nav {
    width: 42px;
    margin-right: -8px;
  }

  .nav-menu {
    height: calc(100% - 52px);
    top: 52px;
  }

  .panel {
    height: 52px;
  }

  .panel__logo {
    height: 28px;
  }

  .portfolio__card {
    padding: 24px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3,
  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 1rem;
  }

  .container-full,
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .page {
    padding-top: 92px;
    padding-bottom: 52px;
  }

  .home__content {
    text-align: center;
  }

  .home__content-name {
    max-width: 191px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
  }

  .home__content-title {
    margin-bottom: 24px;
    font-size: 12.8vw;
    line-height: 13.8666666667vw;
  }

  .home__content-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .home__card {
    margin-bottom: 36px;
  }

  .home__card-container {
    padding: 22px 12px 22px 16px;
  }

  .home__card-info {
    font-size: 14px;
  }

  .portfolio__card:not(:last-of-type) {
    margin-bottom: 32px;
  }

  .skills {
    padding: 24px 16px;
  }

  .not-found {
    padding: 24px;
  }

  .not-found__wrap {
    padding: 24px;
  }

  .not-found__error {
    font-size: 80px;
  }

  .not-found__title {
    font-size: 20px;
  }
}

@media (min-width: 576px) and (max-width: 1099px) {
  .page {
    padding-top: 110px;
  }

  .home__content-name {
    max-width: 228px;
    height: 52px;
  }

  .home__content-title {
    font-size: 7.2727272727vw;
    line-height: 7.2727272727vw;
  }

  .home__card-container {
    padding: 22px;
  }

  .skills {
    padding: 39px;
  }
}

@media (min-width: 1100px) and (max-width: 1510px) {
  .page {
    padding-top: 140px;
  }
}

@media (min-width: 576px) and (max-width: 1509px) {
  .page {
    padding-bottom: 70px;
  }
}

@media (min-width: 768px) and (max-width: 1510px) {
  .nav-menu {
    height: calc(100% - 70px);
    top: 70px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .portfolio__card-github {
    right: 12px;
    top: 16px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

@media (max-height: 650px) {
  .nav-menu__link {
    height: 56px;
  }
}

@media (max-height: 450px) {
  .nav-menu {
    padding-bottom: 16px;
  }

  .nav-menu__link {
    height: 42px;
  }
}