{include 'header'}

{var $show_on_page = $_modx->resource.show_on_page}

{include 'breadcrumb'}

<!---->
<h1>{$_modx->resource.longtitle}</h1>

<div class="blog">
  {if $_modx->resource.isfolder}
  <section class="blog__container">
    <div class="blog__list">
      {if $show_on_page | match : '*gallery*'}
      {include 'gallery'}
      {/if}

      {if $show_on_page | match : '*children*'}
      {include 'child_list'}
      {/if}

      {if $show_on_page | match : '*content*'}
      {$_modx->resource.content}
      {/if}
    </div>

    <!--<nav class="pagination">
      <a class="pagination__arrow pagination__arrow&#45;&#45;prev" href="#">
        <svg class="pagination__arrow-icon">
          <use href="assets/img/icons.svg#arrow"></use>
        </svg>
      </a>

      <span class="pagination__item pagination__item&#45;&#45;current">1</span>
      <a href="#" class="pagination__item">2</a>
      <a href="#" class="pagination__item">3</a>
      <a href="#" class="pagination__item">4</a>
      <a href="#" class="pagination__item">5</a>
      <a href="#" class="pagination__item">6</a>

      <a class="pagination__arrow pagination__arrow&#45;&#45;next" href="#">
        <svg class="pagination__arrow-icon pagination__arrow-icon&#45;&#45;next">
          <use href="assets/img/icons.svg#arrow"></use>
        </svg>
      </a>
    </nav>-->
  </section>
  {else}
  <article class="blog__article blog__container">
    {$_modx->resource.content}
  </article>
  {/if}

    {include 'blog__side'}
</div>

{include 'footer'}
