{include 'header'}

    <div class="home js-home">
      <div class="home__content">
        <div class="home__content-name">Александр Янковой</div>

        <h1 class="home__content-title">Frontend developer</h1>

        <div class="home__content-phrase">
          Пишу легкий, чистый
          <span class="home__content-decor">&lt;code&gt;</span>

          <div class="home__content-text">
            // Чтобы ваш сайт работал быстро и&nbsp;на&nbsp;полную.
          </div>
        </div>

        <a href="/portfolio" class="btn btn__primary home__content-btn js-home__content-btn">Портфолио</a>
      </div>

      <aside class="home__card">
        <div class="home__card-top">
          <div class="home__card-projects">96 projects</div>
          <div class="home__card-info">1 455 commits</div>
        </div>

        <div class="home__card-container">
          <pre class="home__card-code">
            <span class="code-tag">&#60;header&#62;</span>
              <span class="code-tag">&#60;div id=</span><span class="code-id">"coder"</span><span class="code-tag">&#62;</span>
                <span class="code-tag">&#60;h1&#62;</span><span class="code-title"> Technology stack </span><span class="code-tag">&#60;/h1&#62;</span>
                <span class="code-tag">&#60;ul&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">HTML</span> <span class="code-tag">&#60;/li&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">CSS</span> <span class="code-tag">&#60;/li&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">JavaScript</span> <span class="code-tag">&#60;/li&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">React.js</span> <span class="code-tag">&#60;/li&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">Vue.js</span> <span class="code-tag">&#60;/li&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">Node.js</span> <span class="code-tag">&#60;/li&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">Webpack.js</span> <span class="code-tag">&#60;/li&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">Gulp.js</span> <span class="code-tag">&#60;/li&#62;</span>
                  <span class="code-tag">&#60;li&#62;</span> <span class="code-text">Git</span> <span class="code-tag">&#60;/li&#62;</span>
                <span class="code-tag">&#60;/ul&#62;</span>
              <span class="code-tag">&#60;/div&#62;</span>
            <span class="code-tag">&#60;/header&#62;</span>
          </pre>
        </div>
      </aside>
    </div>

{include 'footer'}
